-r requirements.txt
torch==2.6.0
torchvision==0.21.0
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/accelerate.git
bitsandbytes
peft
Pillow>=10.0.1
safetensors
sentencepiece==0.2.0
huggingface-hub
mistral-common[image,hf-hub,sentencepiece]
pyyaml==6.0.2
debugpy==1.8.21
